@charset "UTF-8";
.container-car{
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente il contenuto */
    margin: 20px;
}

.informazioni{
	
	margin-left: 20px; 
}
.num-products{
	text-align:left;
	font-size:13px;
	margin-top: 40px;
	margin-bottom: 0px;  
}
.info{
	font-size:40px;
	font-family: 'Courier New', monospace ;
	
}

.products {
     flex: 0 0 900px;
      justify-content: center;
    align-items: left;
}

.product {
	display:flex;
	 justify-content: center;
    align-items: left;
    border-top: 1px solid #ccc;
    border-bottom: 0px solid #ccc;
    padding: 0px;
    margin-bottom: 10px;
    
}
.img-product{
	 width: 250px;
    height: 100px;
    justify-content: left !important;
    text-align:left !important;

}

img{
	
  max-height: 100%; 
  width:auto;
}
.details{
	 
	margin-right:auto;
}

.cart {
   /* flex: 0 0 250px;
  	 height:200px;
    width: 100px;*/
   position: absolute;
    right: 100px;
    top:33%;
    border: 0px solid #990E3C;
    padding: 50px;
    text-align: center; 
    border-top: 1px solid #990E3C;
    border-bottom: 1px solid #990E3C;
    border-left: 1px solid #990E3C;
    border-right: 1px solid #990E3C;
    
}

.cart button {
    display: inline;
    margin-top: 10px;
}
.total-price{
	display: inline-block;
    width: 150px; /* Larghezza del riquadro */
    height: 150px; /* Altezza del riquadro */
    border: 0px solid #ccc;
    text-align: center; /* Allinea il testo al centro */
    line-height: 150px; /* Altezza linea centrale */
    font-size: 35px; /* Dimensione del carattere */
    margin: 0 auto;
    font-weight: bold;
}


.checkout{
	padding: 10px 10px;
	width: 200px;
	height: 50px;
	border-radius: 30px;
	background-color: #990E3C;
	color: white;
}
.checkout:hover{	
	 background-color: #6F1C38;
	
}

#cart-items {
    text-align: center; /* Allinea il contenuto del carrello a sinistra */
}

.divisore{
	height: 300px;
}
.ref-cat{
	color: #990E3C;
	 text-decoration: none;
	
}
.ref-cat:hover {
        font-weight: bold;
            color: #6F1C38;
            
        }
        
        /*QUERY*/
        
@media (max-width: 767px){
           .container-car {
        flex-direction: column;
    }

    .product {
        flex-direction: column;
        align-items: center;
    }

.img-product {
    width: 100%;
    max-width: 250px;
    height: 100px;
    text-align: center;
}

img {
    width: auto;
    height: 100%;
}
    .details {
        width: 100%;
        text-align: center;
    }

   .cart {
        flex: 0 0 25%;
        position: static;
        margin-left: 20px;
        top:auto;
    }

    .total-price {
        font-size: 20px;
    }
 
   
}
        
   
@media (min-width: 768px) and (max-width: 991px) {
    .container-car {
        flex-direction: column;
    }

    .product {
        flex-direction: column;
        align-items: center;
    }

.img-product {
    width: 100%;
    max-width: 250px;
    height: 100px;
    text-align: center;
}

img {
    width: auto;
    height: 100%;
}
    .details {
        width: 100%;
        text-align: center;
    }

   .cart {
        flex: 0 0 25%;
        position: static;
        margin-left: 20px;
        top:auto;
    }

    .total-price {
        font-size: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1350px) {
    .container-car {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .products {
        flex: 0 0 70%;
    }

    .cart {
        flex: 0 0 25%;
        position: static;
        margin-left: 20px;
    }

    .total-price {
        font-size: 25px;
    }
}

@media (min-width: 1200px) {
    
}
