@charset "UTF-8";
.container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente il contenuto */
    margin: 20px;
}

.products {
     flex: 0 0 900px;
}

.product {
    border-top: 1px solid #ccc;
     border-bottom: 0px solid #ccc;
    padding: 0px;
    margin-bottom: 10px;
}

.cart {
    /*flex: 0 0 250px;
  /*  height:200px;*/
    /*width: 100px;*/
    position: absolute;
    top: 400px;
    right: 100px;
    border: 0px solid #ccc;
    padding: 50px;
    text-align: center; 
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.cart button {
    display: inline;
    margin-top: 10px;
}
.total-price{
	display: inline-block;
    width: 150px; /* Larghezza del riquadro */
    height: 150px; /* Altezza del riquadro */
    border: 0px solid #ccc;
    text-align: center; /* Allinea il testo al centro */
    line-height: 150px; /* Altezza linea centrale */
    font-size: 16px; /* Dimensione del carattere */
    margin: 0 auto;
    font-weight: bold;
}
	

.checkout{
	padidng: 10px 10px;
	width: 200px;
	height: 50px;
	border-radius: 30px;
	background-color: #990E3C;
	color: white;
}
.checkout:hover{	
	 background-color: #6F1C38;
	
}

#cart-items {
    text-align: center; /* Allinea il contenuto del carrello a sinistra */
}

