
        body {
            font-family: Arial, sans-serif;
        }
        .navbar {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
            font-family: 'Courier New', monospace;
    		font-size: 20px;
        }
        .navbar a {
            text-decoration: none;
            color: #555;
            padding: 10px;
            cursor:pointer;
        }
        .navbar a.active {
            border-bottom: 2px solid #900;
            color: #900;
        }
        .navbar a:hover {
            color: #900;
        }
        .content {
            padding: 20px;
        }
        h1, h2 {
    		color: #990E3C;
    		font-family: 'Courier New', monospace;
    		margin-bottom: 20px;
		}
		
		h1 {
		    text-align: center;
		}