@charset "UTF-8";

footer {
    background-color: #990E3C;
    color: #FFF;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    font-family: Arial, sans-serif;
}

.footer-container {
	align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.footer-item {
	
	margin-right:100px;
    flex: 1 1 200px;
   
    text-align: left;
}

.footer-item h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    color: #FFF;
    margin-bottom: 10px;
}

.footer-item h3 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-item p, .footer-item a {
    color: #FFF;
    margin: 5px 0;
}

.footer-item a {
    text-decoration: none;
}

.footer-item a:hover {
    color: #6F1C38;
}

.footer-search {
    padding: 10px;
    width: 200px;
    border-radius: 25px;
    border: none;
    margin-right: 10px;
}

.footer-button {
	margin-top:10px;
    padding: 10px 15px;
    background-color: #FFF;
    color: #990E3C;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.footer-bottom {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #FFF;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
}

/* Media Queries */

@media (min-width: 768px) {
    .footer-container {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .footer-item {
        flex: 1;
       
    }
}

@media (min-width: 992px) {
    footer {
        padding: 3em;
    }
}

@media (min-width: 1200px) {
    footer {
        padding: 3em 5em;
    }
}
