@charset "UTF-8";
	header{
	background-color: #FFFF;
	padding: 0px 0;
	color: #990E3C;
	}
	  body {
            margin: 0;
            padding: 0;
        }
       form {
            text-align: center;
        }

        input[type="text"] {
            padding: 10px;
            width: 600px;
            border: 2px solid #990E3C;
            border-radius: 25px;
            outline: none;
        }

        #search {
            padding: 10px 10px;
            background-color: #990E3C;
            color: #fff;
            border: none;
            border-radius: 25px;
            cursor: pointer;
           
        }

        button:hover {
            background-color: #6F1C38;
        }