@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

.minimo {
    display: none;
}

.basso {
    display: none;
}

header {
    background-color: #FFFF;
    padding: 0;
    color: #990E3C;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 100vw; /* Occupare il 100% dello schermo */
}

.logo {
    text-decoration: none;
    cursor: pointer;
}

.logo-text2,
.logo-text {
    color: #990E3C;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
}

.container-header {
    background-color: #FFFF;
    color: #000;
    padding: 5px 0; /* Rimosso padding laterale */
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    width: 100%;
}

.logo-container,
.search-container,
.account-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container {
    justify-content: center;
}

.search-container {
    justify-content: center;
    flex-direction: row;
}

.account-container {
    justify-content: flex-end;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 10px;
    width: 500px;
    border: 2px solid #990E3C;
    border-radius: 25px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    background-color: #990E3C;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #6F1C38;
}

.link {
    text-decoration: none;
    color: #990E3C;
}

.suggestions {
    position: absolute;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 1000;
    display: none;
    width: 480px; /* Occupa tutta la larghezza del contenitore */
    max-width: 700px; /* Limita la larghezza massima per una migliore leggibilità */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Aggiunge una leggera ombra per il rilievo */
    padding: 10px;
    top: 110px; /* Posiziona sotto l'elemento di riferimento con un piccolo margine */
    left: 28%; /* Allinea al centro rispetto al contenitore padre */
    border-radius: 8px; /* Bordo arrotondato */
}

.suggestion-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Effetto transizione al passaggio del mouse */
}

.suggestion-item img {
    width: 50px; /* Dimensione dell'immagine */
    height: 50px;
    margin-right: 10px;
    border-radius: 50%; /* Immagine rotonda */
    object-fit: cover; /* Scalatura e ritaglio dell'immagine */
}

.suggestion-item .product-details {
    flex: 1; /* Occupa lo spazio rimanente */
    margin-left: 10px; /* Margine a sinistra per separare dall'immagine */
}

.suggestion-item .product-name {
    font-size: 16px; /* Dimensione del nome del prodotto */
    font-weight: bold; /* Testo in grassetto */
    color: #333; /* Colore del testo */
}

.suggestion-item .product-description {
    font-size: 14px; /* Dimensione della descrizione del prodotto */
    color: #666; /* Colore del testo più scuro */
    margin-top: 5px; /* Margine superiore per separare dal nome del prodotto */
}

.suggestion-item:hover {
    background-color: #f0f0f0; /* Cambio colore al passaggio del mouse */
}

h2 {
    color: #990E3C;
    text-align: left;
    font-family: 'Courier New', monospace;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0; /* Aggiunto padding per spazio verticale */
    border-bottom: 1px solid #ccc;
    
}

.nav a {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Courier New', monospace;
    font-size: 20px;
    margin: 0 10px;
}

.nav a:hover {
    font-weight: bold;
    color: #990E3C;
    cursor: pointer;
}

/* Menu mobile */
.navbar-mobile {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 999;
}

.navbar-mobile a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 20px 0;
    transition: color 0.3s ease;
}

.navbar-mobile a:hover {
    color: #ff6347;
}

.mobile-menu-toggle {
    display: none; /* Mostra solo sotto i 550px */
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #990E3C;
    width: 100%;
    text-align: center;
    max-width:100px;

}

/* Responsive */
@media (max-width: 767px) {
	.search-form{
	width:80%;
	}
    .container-header {
        flex-direction: column;
    }
	
	.account-container img{
	height:75px;
	}
    .logo-container {
        display: none; /* Nascondi il logo grande */
    }

    .search-container {
        display: flex; /* Mostra la barra di ricerca */
        justify-content: center;
        width: 100%;
        margin-bottom: 10px; /* Spazio sotto la barra di ricerca */
        order: -1; /* Assicura che la barra di ricerca appaia sopra i pulsanti */
    }

    .search-bar {
        width: 90%; /* Larghezza ridotta della barra di ricerca */
    }

    .account-container {
        display: flex;
        flex-direction: row; /* Disporre i pulsanti orizzontalmente */
        align-items: center;
        width: 100%;
        justify-content: space-evenly; /* Centrare i pulsanti orizzontalmente */
        margin: 10px 0;
        padding: 0 10px; /* Aggiungi padding per spaziatura laterale */
    }

    .account-container .button {
        margin: 0 5px; /* Spazio tra i pulsanti */
        padding: 10px;
        background-color: #990E3C;
        color: #fff;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
    }

    .account-container .button:hover {
        background-color: #6F1C38;
    }

    .navbar {
        display: none; /* Nasconde la navbar desktop */
    }

    .navbar-mobile {
        display: flex; /* Mostra il menu mobile */
    }

    .mobile-menu-toggle {
        display: block; /* Mostra il pulsante del menu mobile */
        font-size:22px;
    }

    .logo-text2,
    .logo-text {
        display: none; /* Nascondi loghi sotto i 550px */
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .search-bar {
        width: 150px;
    }

    .search-container {
        text-align: left;
    }

    .navbar a {
        font-size: 15px;
    }

    .logo-text {
        display: none;
    }

    .logo-text2 {
        width: 100px;
    }

    .suggestions {
        width: 40%;
        left: 28%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .logo-text2 {
        display: none;
    }

    .search-bar {
        width: 300px;
    }

    .suggestions {
        width: 55%;
        left: 20%;
    }
}

@media (min-width: 1200px) {
    .logo-text2 {
        display: none;
    }

    .suggestions {
        width: 55%;
        left: 22%;
    }
    
    header{
    width:100%;
    }
}

@media (min-width: 1400px) {
    .logo-text2 {
        display: none;
    }

    .suggestions {
        width: 50%;
        left: 24%;
    }
}