@charset "UTF-8";
body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
        }
        .insert-form {
            text-align: center;
            margin: 20px auto;
            width: 60%;
            max-width: 1000px;
            min-width: 300px;
            padding: 20px;
            border: 2px solid #990E3C;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        }
        .insert-form label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            text-align: left;
        }
        .insert-form input[type="text"],
        .insert-form input[type="file"],
        .insert-form textarea,
        .insert-form select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
            outline: none;
        }
        .insert-form select {
            height: 40px; /* Altezza leggermente aumentata */
        }
        .insert-form input[type="submit"] {
            background-color: #990E3C;
            color: #fff;
            border: none;
            padding: 15px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }
        .insert-form input[type="submit"]:hover {
            background-color: #6F1C38;
        }
        .error-message {
            color: red;
            margin-top: 5px;
        }
        h1 {
            color: #990E3C;
            text-align: center;
            font-family: 'Courier New', monospace;
            margin-bottom: 20px;
        }
        /* Stili specifici per la select */
        .insert-form .select-container {
            position: relative;
        }
        .insert-form select {

            appearance: none;
            background: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='%23990E3C' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8L0.698314 0H11.3017L6 8Z'/%3E%3C/svg%3E") no-repeat right 10px center/12px 8px;
            padding-right: 35px; /* Spazio per la freccia */
        }
  .campi{
  width: calc(50% - 10px);
  }
  
  .imgprodotto{
  	max-width: 200px; 
  	max-height: 200px; 
  	display: block; 
  	margin-bottom: 10px;
  }
  
  .contenitore{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
  
  }
 /* Stili per layout responsive */
@media screen and (max-width: 768px) {
    .insert-form .contenitore {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .insert-form .campi {
        width: 100%;
    }

    .insert-form .campi label {
        text-align: center;
    }
}