@charset "UTF-8";

.container {
    display: flex;
    flex-direction: column; /* Imposta la direzione del layout su verticale */
    justify-content: center; /* Allinea il contenuto al centro verticalmente */
    align-items: center; /* Allinea il contenuto al centro orizzontalmente */
}

.text-center{
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}
.text-right{
	font-size: 20px;
	text-align: right;
	
}
.text-right a{
	text-decoration: none;
	outline: none;
	color: #990E3C;
	font-family: 'Open Sans' Helvetica Arial sans-serif;
}

.form {
    margin-top: 30px;
    margin-bottom: 10px;
      
    border-radius: 10px;
    outline: none;
    padding: 20px;
    width: 350px;
  
  
}

.form-group {
    margin-bottom: 15px;
}

.form-user,
.form-pass {
	font-size:25px;
    width: 100%;
    border: 1px solid #990E3C;
    border-radius: 10px;
    outline: none;
    padding: 20px;
    width: 300px;
    margin-bottom: 15px;
}

.accedi{
		/*Scritta accedi nel button */
	font-size:25px;
	margin-top:10px;
	padding: 20px;
	width: 350px;
	background-color: #990E3C;
	color: #fff;
	border: none;
	border-radius: 50px;
	cursor: pointer;	
		
	
}

.error-message {
        color: red;
        display: none;
}

.error-visible {
    display: block; /* Mostra il messaggio di errore */
}