@charset "UTF-8";
  /* Stile per il contenitore della tabella */
  .table-container {
    display: block;
    justify-content: center; /* Centra orizzontalmente il contenuto */
    height: 100vh; /* Altezza del contenitore uguale all'altezza della viewport */
    margin-left: auto;
    border-top: 19px solid rgba(0, 0, 0, 0);
    margin-right: auto;
    width: 100%;
  }

  /* Stili per la tabella (come prima) */
  .table {
    width: 70%;
    border-collapse: collapse;
  }

  .table th,
  .table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
	
	table th a {
            color: #000;
            text-decoration: none;
            padding: 5px 10px;
        }
        
  table th {
    background-color: #f2f2f2;
    font-family: 'Courier New', monospace ;
    font-size: 20px;
  }

  table img {
    max-height: 100px;
    max-width: 100px;
    border-radius: 5px;
  }
  .error-message {
    text-align: center; /* Allineamento del testo al centro */
    margin-top: 50px; /* Margine superiore */
  }

  /* Stile per il testo del messaggio di errore */
  .error-message p {
    font-weight: bold; /* Grassetto */
    color:#990E3C;
    font-family: 'Courier New', monospace ;
    font-size: 40px;
    
  }
  
  
          .container {
    display: flex;
    align-items: center;
    text-align: rigth;
    padding: 20px;
    border: 1px solid #ccc;
}
	
	.item{
		display: flex;
    align-items: center;
    text-align: rigth;
    margin: 20px auto; /* Centra il contenitore */
    max-height: 800px; /* Limita la larghezza del contenitore */
    height: 400px;
	}
        .image img {
    max-height: 400px; /* Utilizza il 50% dell'altezza della finestra del browser */
    max-width:auto;
  
}
        .product-info {
            font-size: 14px;
            color: #666;
        }