@charset "UTF-8";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    padding: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    margin: 20px auto; /* Centra il contenitore */
    max-width: 100%; /* Limita la larghezza del contenitore */
}

.name {
    font-size: 24px;
    text-align: center;
}

.desc {
    font-size: 18px;
    text-align: center;
}

.price {
    color: #990E3C;
    font-size: 24px;
    text-align: center;
}

.image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 0;
}

.product-info {
    margin-top: 20px;
    font-size: 16px;
    color: black;
    text-align: center;
}

.buttons .add-to-cart {
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px auto;
    background-color: #990E3C;
    display: block;
    text-align: center;
}

.buttons .add-to-cart:hover {
    background-color: #6F1C38;
}

.buttons input[type="number"] {
    width: 70px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #990E3C;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    margin: 10px auto;
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
    
    .item {
        flex-direction: row;
        max-width: 750px;
    }
    
    .name {
        font-size: 28px;
    }
    
    .desc {
        font-size: 20px;
    }
    
    .price {
        font-size: 28px;
    }
    
    .image img {
        max-width: 300px;
        padding: 10px;
    }
    
    .product-info {
        text-align: left;
    }
    
    .buttons {
        display: flex;
        justify-content: flex-start;
    }
    
    .buttons .add-to-cart,
    .buttons input[type="number"] {
        margin: 0 10px;
    }
}

@media (min-width: 992px) {
    .item {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .item {
        max-width: 1170px;
    }
}
