@charset "UTF-8";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 20px auto; /* Centra il contenitore */
    max-width: 100%; /* Limita la larghezza del contenitore */
    padding: 20px;
}

.name {
    font-size: 36px; /* Ingrandito il titolo */
    font-weight: bold;
    color: #000;
    text-align: left;
    margin-bottom: 10px;
}

.desc {
    font-size: 20px; /* Ingrandito il testo della descrizione */
    text-align: left;
    color: #333;
    margin-bottom: 10px;
}

.price {
    color: #990E3C;
    font-size: 26px; /* Ingrandito il testo del prezzo */
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.iva {
    font-size: 16px; /* Dimensione del testo "+IVA" */
    color: #888; /* Colore grigio chiaro */
    margin-left: 5px;
}

.image img {
    width: 100%;            /* L'immagine si adatta alla larghezza del contenitore */
    max-width: 500px;       /* Dimensione massima della larghezza */
    height: auto;           /* Mantiene le proporzioni */
    object-fit: cover;      /* Ritaglia l'immagine mantenendo le proporzioni */
    display: block;
    margin: 0 auto;         /* Centra l'immagine */
}

/* Aggiungi anche uno stile per il contenitore delle immagini per garantire la responsività */
.image {
    width: 100%;
    max-width: 500px;       /* Massima larghezza del contenitore */
    margin: 0 auto;         /* Centra il contenitore */
}


.product-info {
    margin-top: 20px;
    font-size: 20px; /* Ingrandito il testo delle informazioni prodotto */
    color: black;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px; /* Ridotto lo spazio tra le informazioni */
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.buttons .add-to-cart {
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #990E3C;
    text-align: center;
}

.buttons .add-to-cart:hover {
    background-color: #6F1C38;
}

.buttons input[type="number"] {
    width: 70px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #990E3C;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: center;
    }
    
    .item {
        flex-direction: row;
        align-items: flex-start;
        max-width: 750px;
        padding: 20px;
    }
    
    .image {
        margin-right: 20px;
    }
}

@media (min-width: 992px) {
    .item {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .item {
        max-width: 1170px;
    }
}
