<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

    <!-- Definizione del riferimento al data source -->
    <resource-ref>
        <description>Riferimento al data source</description>
        <res-ref-name>jdbc/Symposium</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <!-- Definizione della pagina di benvenuto -->
    <welcome-file-list>
        <welcome-file>/home.jsp</welcome-file>
    </welcome-file-list>

    <!-- Gestione delle pagine di errore -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <filter>
	    <filter-name>AdminFilter</filter-name>
	    <filter-class>filter.AdminFilter</filter-class>
	</filter>
	
	<filter>
	    <filter-name>AccessFilter</filter-name>
	    <filter-class>filter.AccessFilter</filter-class>
	</filter>
	
	<filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>filter.loginFilter</filter-class>
        <init-param>
            <param-name>excludedServlets</param-name>
            <param-value>login,catalogo,categorie,checkEmail,product,register,SearchSuggestionsServlet,catalogoAjax,utilities,immagini</param-value>
        </init-param>
    </filter>
	
	<filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
</filter-mapping>

<filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/utilities/*</url-pattern>
</filter-mapping>

<filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
    
</web-app>
